@piano-width: 80vw;

.piano {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/bg.jpg');
  background-position: left;
  background-size: cover;
  user-select: none;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 900;
  -webkit-perspective: 900;

  .navigation {
    display: flex;
    align-items: center;
    height: 5vw;
    margin-bottom: -1.5vw;
    padding: 0 5.5vw;
    color: rgba(white, .8);
    font-style: italic;
    background: rgba(white, .1);
    text-shadow: 0 0 1vw pink;
    transition: color .6s;

    &.active {
      color: rgba(white, .2);
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;

      .title {
        font-size: 2.5vw;
      }
  
      .info {
        padding-bottom: .2vw;
        font-size: 1.5vw;
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    width: @piano-width;
    height: 15vw;
    margin: 0 auto;
    transform: rotateX(30deg);
    transform-origin: top;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1500;
    -webkit-perspective: 1500;
    
    .button {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      max-width: calc(@piano-width / 21);
      height: inherit;
      margin: 0 .1vw;
      padding: 1vw 0;
      font-size: 2vw;
      text-transform: uppercase;
      border-radius: 0 0 .3vw .3vw;
      box-shadow: 0 0 10vw white, 0 0 0 white inset;
      transform-origin: top;
      transition: all .3s;
      overflow: hidden;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 3vw;
        height: 3vw;
        color: rgba(white, .3);
        border-radius: 50%;

        &::after {
          content: '';
          position: absolute;
          width: .3vw;
          height: .3vw;
          border-radius: 50%;
          transition: all .3s;
        }

        &.top-point::after {
          background: rgba(white, .3);
          top: -.2vw;
        }

        &.bottom-point::after {
          background: rgba(white, .3);
          bottom: -.2vw;
        }

        &.hide {
          opacity: 0;
        }

        &:nth-child(1) {

          &.hide {
            transform: translateY(-8vw);
          }
        }

        &:nth-child(2) {

          &.hide {
            transform: translateY(8vw);
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: -20%;
        left: 0;
        width: 100%;
        height: 10%;
        opacity: 0;
      }

      &.active {
        transform: rotateX(-2deg);

        span {
          color: rgb(white, 1);

          &.top-point::after,
          &.bottom-point::after {
            background: rgba(white, 1);
          }
        }
      }

      each(range(21), {
        &:nth-child(@{value}) {
          @span-transition-delay: (@value / 21);
          @span-hide-transition-delay: @span-transition-delay + .3;
          @hsl-deg: (360 / 21 * (@value - 1));
          @animation-delay: (@value / 7);

          span {
            transition: color .3s, opacity .6s ~'@{span-transition-delay}s', transform .9s ~'@{span-transition-delay}s';
          
            &.hide {
              transition: color .3s, opacity .6s ~'@{span-hide-transition-delay}s', transform .9s ~'@{span-hide-transition-delay}s';
            }
          }

          &.active {
            box-shadow: 0 1vw 2vw hsl(~'@{hsl-deg}deg', 50%, 50%), 0 -.25vw 1vw white inset;
          }

          &::before {
            background: hsl(~'@{hsl-deg}deg', 50%, 50%);
            animation: shiny-button .6s ~'@{animation-delay}s' forwards infinite;
          }
        }
      })
    }
  }
}

@keyframes shiny-button {
  from {
    top: -20%;
    opacity: 0;
  }
  to {
    top: 100%;
    opacity: .5;
  }
}
